{% extends "__base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Is it a sausage?</h1>
    <p class="lead">
        This app is inspired by the TV show, "Silicon Valley", where the
        character Jian Yang created an app that can determine if the object in
        a picture is a sausage or not.
    </p>

    {% if image_analysis %}
        {% if image_analysis['is_adult_content'] %}
            <div class="alert-danger">
                <p>
                    You uploaded
                    {% if image_analysis['is_racy_content'] %}
                        a <strong>very sexy</strong>
                    {% else %}
                        an
                    {% endif %}
                    adult-only image!
                </p>
            </div>
        {% else %}
            <p>
                You uploaded this image:<br />
                <img src="{{ image_src }}" />
            </p>
        {% endif %}
        <p>
            You guessed that it is <strong>
                "{{ human_label }}"
            </strong>.
        </p>
        {% if image_analysis['error_message'] %}
            <p>
                The machine failed to do its job:
                <span style="color:red">
                    "{{ image_analysis['error_message'] }}"
                </span>
            </p>
        {% else %}
            <p>The machine guessed the following:</p>
            <ul>
                {% for tag in image_analysis['image_tags'] %}
                    <li>
                        {% if tag['name'] == human_label %}<strong>{% endif %}
                            "{{ tag['name'] }}" ({{ tag['confidence'] }}%)
                        {% if tag['name'] == human_label %}</strong>{% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <hr />
    {% endif %}

    <p>
        Upload an image and what you think is the main object in that image.
        <br />
        (It doesn't have to be a <em>sausage</em>!)
    </p>
    {{ wtf.quick_form(sausage_form) }}
{% endblock %}
